header {
  display: flex;
  justify-content: center; /*가운데로*/
  align-items: center; /*가운데로*/
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  color: var(--yarrow);
  padding: 20px 0;
}

nav > a{
font-weight: bold;
font-size: var(--font--size--medium);
}

nav > ul {
  display: flex;
  gap: 5px;
  font-size: var(--font--size--small);
}

nav > ul > li {
  padding: 10px 8px;
}
